body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 12.5rem;
  background-color: #b2b377;
  color: #fff;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  transition: width 0.3s;
}

.sidebar .logo {
  margin-bottom: 1.25rem; 
  display: flex;
  justify-content: center; 
}

.sidebar .logo img {
  max-width: 60%;
  height: auto;
}

.sidebar .sidebar-toggle {
  display: none;
  background-color: #c8cfa0;
  border: none;
  color: #fff;
  padding: 0.625rem;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0.625rem;
  border-radius: 0.3125rem; /
}

.menu-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0.625rem 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu li a img {
  margin-bottom: 0.625rem; 
  width: 2.5rem;
}

.menu li a span {
  font-size: 0.875rem;
}

.menu li a:hover {
  color: #ccc;
}

.settings-container {
  margin-top: auto;
  width: 100%;
}

.settings-background {
  background-color: #c8cfa0;
  padding: 0.625rem 0; 
  width: 100%; 
  box-sizing: border-box;
}

.settings-background a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem; 
}

.settings-background a img {
  width: 2.5rem;
  margin-right: 0.625rem; 
}

.settings-background a span {
  font-size: 0.875rem;
  color: #656565;
}

.settings-background a:hover {
  color: #333;
}

.content {
  flex: 1;
  padding: 1.25rem; 
  background-color: #f6eec9;
  overflow: auto; 
}

.hero {
  width: 100%; 
  padding: 1.25rem 0;
}

.hero h1 {
  font-size: 2.25rem;
  margin-bottom: 0.625rem; 
  color: #799351;
}

.hero .subtext {
  font-size: 1.125rem;
  color: #799351;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.25rem; 
  margin-top: 1.25rem;
}

.product-card {
  border-radius: 0.5rem; 
  overflow: hidden;
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1.5625rem; 
}

.product-card h3 {
  font-size: 1.125rem; 
  margin-bottom: -0.625rem;
  color: #799351;
}

.product-card .details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-card .price {
  font-size: 1rem;
  color: #799351;
}

.product-card .stock {
  font-size: 0.875rem;
  color: #799351;
}

/* Responsive styles */
@media (max-width: 48rem) { 
  .sidebar {
    width: 3.75rem;
    overflow: hidden;
  }

  .sidebar .logo img {
    max-width: 80%;
  }

  .menu-container {
    display: none;
  }

  .sidebar .sidebar-toggle {
    display: block; 
  }

  .sidebar.active {
    width: 12.5rem;
  }

  .sidebar.active .menu-container {
    display: flex;
  }

  .menu-container {
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    margin: 0.625rem 0;
  }

  .menu li a {
    font-size: 0.875rem;
  }

  .menu li a img {
    width: 1.875rem;
  }

  .settings-background a span {
    display: none;
  }

  .settings-background a img {
    margin-right: 0;
  }
}

@media (max-width: 30rem) {
  .hero h1 {
    font-size: 1.5rem;
  }

  .hero .subtext {
    font-size: 0.875rem;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
  }

  .product-card {
    padding: 0.5rem;
  }

  .product-card h3 {
    font-size: 1rem;
  }

  .product-card .details {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-card .price,
  .product-card .stock {
    font-size: 0.875rem;
  }
}
