/* General styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 12.5rem;
  background-color: #b2b377;
  color: #fff;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  transition: width 0.3s;
}

.sidebar .logo {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
}

.sidebar .logo img {
  max-width: 60%;
  height: auto;
}

.menu-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0.625rem 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu li a img {
  margin-bottom: 0.625rem;
  width: 2.5rem;
}

.menu li a span {
  font-size: 0.875rem;
}

.menu li a:hover {
  color: #ccc;
}

.settings-container {
  margin-top: auto;
  width: 100%;
}

.settings-background {
  background-color: #c8cfa0;
  padding: 0.625rem 0;
  width: 100%;
  box-sizing: border-box;
}

.settings-background a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
}

.settings-background a img {
  width: 2.5rem;
  margin-right: 0.625rem;
}

.settings-background a span {
  font-size: 0.875rem;
  color: #656565;
}

.settings-background a:hover {
  color: #333;
}

.content {
  flex: 1;
  padding: 1.25rem;
  background-color: #f6eec9;
  overflow: auto;
}

.product-detail-section {
  width: 100%;
  padding: 1.25rem 0;
}

.product-detail-section h2 {
  font-size: 2.25rem;
  color: #799351;
  margin-bottom: 1.25rem;
}

.product-detail {
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.product-detail form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.product-detail .form-group {
  display: flex;
  align-items: center;
}

.product-detail label {
  font-size: 1.125rem;
  color: #799351;
  flex-basis: 30%;
  font-weight: bold;
}

.product-detail input,
.product-detail textarea {
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #c8cfa0;
  border-radius: 0.25rem;
  flex: 1;
  background-color: #f6eec9;
}

.product-detail .file-input {
  display: none;
}

.product-detail .file-label {
  padding: 0.625rem 1.25rem;
  background-color: #c8cfa0;
  color: #656565;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.product-detail .file-label i {
  margin-right: 0.625rem;
  color: #656565;
}

.product-detail .file-label-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.product-detail button {
  align-self: flex-end;
  padding: 0.625rem 1.25rem;
  background-color: #799351;
  color: #fff;
  border: none;
  border-radius: 3.125rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 12.5rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail button:hover {
  background-color: #666;
}

.sidebar.active {
  width: 4.6875rem;
}

.sidebar.active .menu li a span {
  display: none;
}

.sidebar.active .menu li a img {
  margin-bottom: 0;
}

.sidebar.active .settings-background a span {
  display: none;
}

.sidebar.active .settings-background a img {
  margin-right: 0;
}

@media (max-width: 48rem) {
  .sidebar {
     width: 3.75rem;
    overflow: hidden;
  }

  .sidebar .logo img {
    max-width: 100%;
  }
  
  .sidebar .sidebar-toggle {
    display: block;
  }

  .sidebar .menu li a span,
  .sidebar .settings-background a span {
    display: none;
  }

  .sidebar .menu li a img,
  .sidebar .settings-background a img {
    margin-bottom: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

@media (max-width: 30rem) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-product-button {
    margin-top: 0.625rem;
    width: 100%;
  }
}
