* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #799351;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  background-color: #fbf8f8;
  padding: 2.5rem;
  border-radius: 3.125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  width: 21.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1.25rem;
  color: #858585;
  font-size: 2.5rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
  border-bottom: 0.125rem solid #ccc;
}

.form-group label {
  position: absolute;
  left: 0.3125rem;
  top: 0;
  font-size: 1rem;
  color: #656565;
  pointer-events: none;
  transition: 0.3s ease;
}

.form-group input {
  border: none;
  border-bottom: 0.0625rem solid #000;
  background: transparent;
  width: 100%;
  font-size: 1rem;
  color: #333;
  padding: 1.25rem 0 0.3125rem 0;
  outline: none;
}

.form-group input:focus {
  border-bottom-color: #333;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -1.25rem;
  font-size: 0.75rem;
  color: #799351;
}

.password-group {
  position: relative;
  display: flex;
  align-items: center;
}

.password-group input {
  width: calc(100% - 1.875rem);
  padding-right: 1.875rem;
}

.password-group i {
  position: absolute;
  right: 0.625rem;
  font-size: 1.25rem;
  color: #799351;
  cursor: pointer;
}

.login-container .remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 3.75rem;
  margin-top: 1.25rem;
}

.login-container .remember-me input {
  margin-right: 0.625rem;
}

.login-container .remember-me label {
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #656565;
}

.login-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-actions button {
  background-color: #799351;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  width: 100%;
  max-width: 15.625rem;
  height: 3.1875rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
}

.login-actions button:hover {
  background-color: #555;
}

.login-container .forgot-password {
  text-decoration: none;
  color: #5F5F5F;
  font-size: 0.85em;
  align-self: flex-end;
  margin-top: 0.625rem;
}

.login-container .forgot-password:hover {
  text-decoration: underline;
}

@media (max-width: 48rem) {
  .login-container {
    padding: 1.875rem;
    border-radius: 2.5rem;
    width: 18.75rem;
  }

  .login-container h2 {
    font-size: 2rem;
  }

  .form-group label {
    font-size: 0.875rem;
  }

  .form-group input {
    font-size: 0.875rem;
  }

  .password-group i {
    font-size: 1rem;
  }

  .login-actions button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: 2.75rem;
  }

  .login-container .forgot-password {
    font-size: 0.75em;
  }
}

@media (max-width: 30rem) {
  .login-container {
    padding: 1.25rem;
    border-radius: 1.875rem;
    width: 16.875rem;
  }

  .login-container h2 {
    font-size: 1.75rem;
  }

  .form-group label {
    font-size: 0.75rem;
  }

  .form-group input {
    font-size: 0.75rem;
  }

  .password-group i {
    font-size: 0.875rem;
  }

  .login-actions button {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    height: 2.5rem;
  }

  .login-container .forgot-password {
    font-size: 0.65em;
  }
}
